---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});


---
<div id="blog py-15">
  <div class="pb-32 pt-32 font-montserrat">
      <Container>
        <Sectionhead>
          <Fragment slot="title" class="text-3xl font-extrabold text-gray-900 sm:text-4xl text-center font-montserrat">Algunos de nuestros clientes destacados</Fragment>
          <Fragment slot="desc">
            Todos los proyectos son realizados por el equipo de profesionales con el objetivo de satisfacer las necesidades de nuestros clientes.
          </Fragment>
        </Sectionhead>
        <main class="mt-16">
          <ul class="flex flex-wrap justify-center gap-5 ">
            {
              publishedBlogEntries.map((blogPostEntry, index) => (
                <li class="w-96" >
                  <a href={`${blogPostEntry.data.author}`}>
                    <div class="flex flex-wrap md:grid-cols-2 md:gap-5 text-left ">
                      <Picture
                        src={blogPostEntry.data.image.src}
                        alt={blogPostEntry.data.image.alt}
                        sizes="(max-width: 800px) 150vw, 800px"
                        widths={[400, 600, 1000]}
                        aspectRatio="16:9"
                        background="#ffffff"
                        fit="cover"
                        position="center"
                        loading={index <= 2 ? "eager" : "lazy"}
                        decoding={index <= 2 ? "sync" : "async"}
                        class="rounded-full border-4 border-white shadow-lg border-purple-200 "
                      />
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        </main>
      </Container>

  </div>
</div>
