---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Pricing from "./pricing.astro";
import Layout from "@layouts/Layout.astro";
import Blog from "./blog.astro";
import About from "./about.astro";
import Contact from "./contact.astro";
import BoxContact from "@components/boxContact.astro";
---
<style>
  html.dark {
      background-color: #02011a;
      color: #fff;
    }
    
    .dark .nav-links a {
      color: #fff;
    }
  </style>
<div>
  <div>
    <Layout title="">
      <Container>
        <Hero />
        <Features />
        <Logos />
        <Cta />
        <Pricing />
        <Blog />
        <About />
        <BoxContact />
        <Contact />
      </Container>
    </Layout>

  </div>

</div>
