---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Servicios",
    path: "#servicios",
  },
  {
    title: "¿Como trabajamos?",
    path: "#herramientas",
  },
  {
    title: "Clientes",
    path: "#blog",
  },
  {
    title: "Nosotros",
    path: "#about",
  },
  {
    title: "Contacto",
    path: "#contact",
  },
];
---
<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5 font-bold text-lg">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg flex">
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="h-8 mr-3"
            alt="FlowBite Logo"
          />
          <span class="font-bold text-slate-800">Biztek Solutions</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <>
                {(
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
  <script>
    if (typeof document !== 'undefined') {
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();
          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
    }
  </script>
</Container>
