---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Servicios",
    path: "#servicios",
  },
  {
    title: "¿Como trabajamos?",
    path: "#herramientas",
  },
  {
    title: "Clientes",
    path: "#blog",
  },
  {
    title: "Nosotros",
    path: "#about",
  },
  {
    title: "Contacto",
    path: "#contact",
  },
];
---

<style>
  /* Estilo para fijar la barra de navegación en la parte superior */
  .fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que la barra de navegación esté sobre otros elementos */
  }
</style>
<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center py-2 font-bold text-lg fixed-navbar border-b border-gray-400 {{darkMode ? 'bg-black' : 'bg-red'}}" id="navbar">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/bizteksolutions" class="text-lg flex pl-8">
          <img
            src=""
            class="w-6/12 h-auto mr-3"
            alt="Biztek Logo"
            id="logo-navbar"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 " />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => (
              <>
                {(
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 hover:text-purple-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
  <script>
    if (typeof document !== 'undefined') {
      document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
          e.preventDefault();
          document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
    }
  </script>
</Container>
