---
// @ts-ignore
import { Icon } from "astro-icon";
import Feature from "../components/Feature1.astro";

---
<div class="w-full font-montserrat shadow-[-1px_1px_15px_15px_#8a3bbf,-1px_1px_15px_10px_#2f855a]">
  <section class="my-8 w-full">
        <Feature icon="mdi:user" title="Pruebe nuestro servicio ahora" class="w-full text-8xl font-montserrat">
          <p class="text-3xl font-montserrat text-purple-900 font-bold"> De el primer paso hacia la transformacion de su negocio con nuestros servicios expertos. Lo invitamos a probar nuestras soluciones moviles hoy y experimentar la diferencia por si mismo. Desde el desarrollo de software hasta el desarrollo de aplicaciones moviles, estamos aqui para ayudarlo a lograr sus objetivos.</p>
          <div class=" items-center justify-center flex">
          </div>
        </Feature>
  </section>
</div>