---
import { Icon } from 'astro-icon'

const { icon = 'mdi:rocket', title = 'Title' } = Astro.props
---

<div class="feature flex flex-col gap-4">
  <div class="flex justify-between">
    <Icon name={icon} />
    <h3 class="flex justify-center content-center text-xl text-purple-800 mt-4">{title}</h3>
  </div>
  <div class="content">
    <p>
      <slot>aca va el texto</slot>
    </p>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .feature {
    position: relative;
    padding: 2rem;

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      inset: 0;
      background-color: hsl(0, 0%, 100%);
      border: 3px solid hsl(210, 8%, 31%);
      border-radius: 1rem;
      box-shadow: 0 0 0 6px hsl(0, 0%, 100%);
      z-index: 1;
    }

    &::after {
      background-color: #8a3bbf;
      inset: 1rem -1rem -1rem 1rem;
      border-radius: 1rem;
      z-index: 0;
    }
  }

  :global(.feature [astro-icon]) {
    width: 4rem;
    color: var(--action-color);
  }

  :global(.darkmode .feature::before) {
    background-color: var(--dark-100);
    box-shadow: 0 0 0 6px var(--dark-100);
  }
</style>
