---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Calidad",
    description:
      "La calidad es nuestra máxima prioridad. Estamos comprometidos a entregar soluciones confiables y de alta calidad para satisfacer las necesidades de nuestros clientes.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Confianza",
    description:
      "Priorizamos la confiabilidad y la consistencia, brindando soluciones que cumplen y superan las expectativas de nuestros clientes. Nuestro enfoque en la calidad, la eficiencia y la confianza nos permite construir asociaciones duraderas con nuestros clientes.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Despliegue",
    description:
      "Nuestro enfoque de despliegue eficiente y ágil utiliza las últimas tecnologías y las mejores prácticas de la industria para garantizar la entrega oportuna de proyectos que maximicen los resultados comerciales de nuestros clientes. ",
    icon: "bx:bxs-data",
  },
  {
    title: "Equipo",
    description:
      "Nuestro equipo de expertos en tecnología está compuesto por ingenieros de software, diseñadores de UX, desarrolladores de aplicaciones móviles, ingenieros de DevOps, ingenieros de automatización de pruebas y más. ",
    icon: "bx:bxs-user",
  },
  {
    title: "SEO",
    description:
      "Nuestro equipo de expertos en SEO se mantiene al día con las últimas tendencias y técnicas de SEO para garantizar que su sitio web se clasifique en la parte superior de los resultados de búsqueda. ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Ambiente de trabajo",
    description:
      "Nuestro ambiente de trabajo es amigable y acogedor. Lo que nos permite aprovechar una amplia gama de perspectivas y experiencias para brindar soluciones innovadoras a nuestros clientes.",
    icon: "bx:bxs-bot",
  },
];
---

<div class='py-32'>
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      Nuestros servicios de calidad  </h2>
    <p class="text-lg mt-4 text-slate-600">
      Ofrecemos una amplia gama de servicios de IT, que incluyen desarrollo de software, diseño web, integración de sistemas, automatización de procesos y mucho más
    </p>
  </div>
  
  <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>


