---
// @ts-ignore
import { Icon } from "astro-icon";
import Feature from "../components/Feature1.astro";

const features = [
  {
    title: "Calidad",
    description:
      "La calidad es nuestra maxima prioridad. Estamos comprometidos a entregar soluciones confiables y de alta calidad para satisfacer las necesidades de nuestros clientes.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Confianza",
    description:
      "Priorizamos la confiabilidad y la consistencia, brindando soluciones que cumplen y superan las expectativas de nuestros clientes. Nuestro enfoque en la calidad, la eficiencia y la confianza nos permite construir asociaciones duraderas con nuestros clientes.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Despliegue",
    description:
      "Nuestro enfoque de despliegue eficiente y agil utiliza las ultimas tecnologias y las mejores practicas de la industria para garantizar la entrega oportuna de proyectos que maximicen los resultados comerciales de nuestros clientes. ",
    icon: "bx:bxs-data",
  },
  {
    title: "Equipo",
    description:
      "Nuestro equipo de expertos en tecnologia esta compuesto por ingenieros de software, disenadores de UX, desarrolladores de aplicaciones moviles, ingenieros de DevOps, ingenieros de automatizacion de pruebas y mas. ",
    icon: "bx:bxs-user",
  },
  {
    title: "SEO",
    description:
      "Nuestro equipo de expertos en SEO se mantiene al dia con las ultimas tendencias y tecnicas de SEO para garantizar que su sitio web se clasifique en la parte superior de los resultados de busqueda. ",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Ambiente de trabajo",
    description:
      "Nuestro ambiente de trabajo es amigable y acogedor. Lo que nos permite aprovechar una amplia gama de perspectivas y experiencias para brindar soluciones innovadoras a nuestros clientes.",
    icon: "bx:bxs-bot",
  },
];
---

<div class='pb-32 pt-32' id="servicios">
  <div class="mt-16 md:mt-0">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-center">
      Nuestros servicios de calidad  </h2>
    <p class="text-lg mt-4 text-slate-600">
      Ofrecemos una amplia gama de servicios de IT, que incluyen desarrollo de software, integracion de sistemas, automatizacion de procesos y mucho mas
    </p>
  </div>
  
  <section class="my-8">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:briefcase" title="Calidad" class="text-xl">
          La calidad es nuestra maxima prioridad. Estamos comprometidos a entregar soluciones confiables y de alta calidad para satisfacer las necesidades de nuestros clientes.
        </Feature>
        <Feature icon="bx:bxs-window-alt" title="Confianza">
          <div>
            Priorizamos la confiabilidad y la consistencia, brindando soluciones que cumplen y superan las expectativas de nuestros clientes. Nuestro enfoque en la calidad, la eficiencia y la confianza nos permite construir asociaciones duraderas con nuestros clientes.
          </div>
        </Feature>
        <Feature title="Despliegue">
          Nuestro enfoque de despliegue eficiente y agil utiliza las ultimas tecnologias y las mejores practicas de la industria para garantizar la entrega oportuna de proyectos que maximicen los resultados comerciales de nuestros clientes. 
        </Feature>
        <Feature icon="bx:bxs-user" title="Equipo">
          Nuestro equipo de expertos en tecnologia esta compuesto por ingenieros de software, disenadores de UX, desarrolladores de aplicaciones moviles, ingenieros de DevOps, ingenieros de automatizacion de pruebas y mas. 
        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="SEO">
          Nuestro equipo de expertos en SEO se mantiene al dia con las ultimas tendencias y tecnicas de SEO para garantizar que su sitio web se clasifique en la parte superior de los resultados de busqueda. 
        </Feature>
        <Feature icon="mdi:looks"  title="Ambiente de trabajo">
          Nuestro ambiente de trabajo es amigable y acogedor. Lo que nos permite aprovechar una amplia gama de perspectivas y experiencias para brindar soluciones innovadoras a nuestros clientes.
        </Feature>
      </div>
    </div>
  </section>
</div>
