---
import { Picture } from "@astrojs/image/components";
import heroImage from "@assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import ThemeIcon from './themeIcon.astro';

---
  <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 mt-32">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-purple-700">
      Expertos en soluciones IT
    </h1>
    <div class="typewriter py-12">
      <h1 id="text1" class="text-2xl font-bold mb-4 font-montserrat"></h1>
      <h1 id="text3" class="hidden text-2xl font-bold mb-4 font-montserrat"></h1>
    </div> 
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="#contact"
        target="_blank"
        class="flex gap-1 items-center justify-center border-white"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-user" />
        Contactanos
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#about"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        Conoce mas de nosotros
      </Link>
      <ThemeIcon />
    </div> 
  </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let text1 = document.getElementById('text1');

    function typeText(element, text) {
      let index = 0;

      function typingEffect() {
        if (index < text.length) {
          element.innerHTML += text.charAt(index);
          index++;
          setTimeout(typingEffect, 30);
        }
      }

      typingEffect();
    }

    typeText(text1, 'Somos una empresa de servicios IT especializada en brindar soluciones a la medida.');

    setTimeout(function() {
      let text3 = document.getElementById('text3');
      if (text3) {
        text3.classList.remove('hidden');
      }
      typeText(text3, 'Siempre comprometidos con la calidad y la excelencia.');
    }, 2600);
  });
</script>