---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Algunas de las tecnologias con las que trabajamos</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="simple-icons:react" />
    <Icon class="h-8 md:h-12" name="simple-icons:svelte" />
    <Icon class="h-8 md:h-14" name="simple-icons:tailwindcss" />
    <Icon class="h-8 md:h-16" name="simple-icons:alpinedotjs" />
    <Icon class="h-8 md:h-12" name="simple-icons:vercel" />
    <Icon class="h-8 md:h-12" name="simple-icons:astro" />
    <Icon class="h-8 md:h-12" name="simple-icons:javascript" />
    <Icon class="h-8 md:h-12" name="simple-icons:html5" />
    <Icon class="h-8 md:h-12" name="simple-icons:css3" />
    <Icon class="h-8 md:h-12" name="simple-icons:node-dot-js" />
    <Icon class="h-8 md:h-12" name="simple-icons:typescript" />
    <Icon class="h-8 md:h-12" name="simple-icons:java" />
    <Icon class="h-8 md:h-12" name="simple-icons:node-dot-js" />
    <Icon class="h-8 md:h-12" name="simple-icons:python" />
  </div>
</div>
