---
// @ts-ignore
import { Icon } from "astro-icon";
---



<div class="mt-8 pt-24" id="herramientas">
  <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl text-center">Herramientas y tecnologias que utilizamos</h2>

  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap pt-6 font-montserrat font-bold">
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-green-500" name="simple-icons:react" />
      <p>React</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-orange-500" name="simple-icons:svelte" />
      <p>Svelte</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-14 text-blue-500" name="simple-icons:tailwindcss" />
      <p>Taildwind</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-black-500" name="simple-icons:vercel" />
      <p>Vercel</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-black-500" name="simple-icons:astro" />
      <p>Astro</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-yellow-500 text-center" name="simple-icons:javascript" />
      <p>Javascript</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-orange-500" name="simple-icons:html5" />
      <p>HTML5</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-blue-500" name="simple-icons:css3" />
      <p>CSS3</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-green-500" name="simple-icons:node-dot-js" />
      <p>NodeJS</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-blue-500" name="simple-icons:typescript" />
      <p>Typescript</p>
    </div>
    <div class="flex flex-col"> 
      <Icon class="h-8 md:h-12 text-blue-400	" name="simple-icons:java" />
      <p>Java</p>
    </div>
    <div class="flex flex-col">
      <Icon class="h-8 md:h-12 text-blue-500" name="simple-icons:python" />
      <p>Python</p>
    </div>
  </div>
</div>
